In [145]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_excel(r"C:\Users\adity\Downloads\flight_price.xlsx")
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [147]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [149]:
data["Additional_Info"].value_counts()

Additional_Info
No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: count, dtype: int64

In [151]:
data.sample(100)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
8420,GoAir,15/05/2019,Kolkata,Banglore,CCU → BOM → BLR,23:30,07:45 16 May,8h 15m,1 stop,No info,6945
1843,Multiple carriers,6/06/2019,Delhi,Cochin,DEL → BOM → COK,16:00,01:30 07 Jun,9h 30m,1 stop,No info,13377
7369,Jet Airways,9/06/2019,Kolkata,Banglore,CCU → BOM → BLR,08:25,04:40 10 Jun,20h 15m,1 stop,No info,13731
2240,Air India,12/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 13 Jun,23h 55m,1 stop,No info,10203
5402,Air India,9/06/2019,Delhi,Cochin,DEL → AMD → BOM → COK,19:45,19:15 10 Jun,23h 30m,2 stops,No info,9968
...,...,...,...,...,...,...,...,...,...,...,...
8339,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,13:15 13 Mar,18h 20m,1 stop,In-flight meal not included,11087
1182,IndiGo,21/05/2019,Kolkata,Banglore,CCU → BLR,14:25,16:55,2h 30m,non-stop,No info,5224
8044,IndiGo,18/03/2019,Kolkata,Banglore,CCU → BLR,15:10,17:45,2h 35m,non-stop,No info,4462
4868,GoAir,21/04/2019,Delhi,Cochin,DEL → BOM → COK,07:00,12:55,5h 55m,1 stop,No info,6591
6994,Air India,12/03/2019,Mumbai,Hyderabad,BOM → HYD,21:05,22:25,1h 20m,non-stop,No info,4307

In [153]:
data.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [155]:
data.boxplot()

In [157]:
#feature engineering

In [159]:
data["Date"]=data["Date_of_Journey"].str.split("/").str[0]

In [161]:
data["Month"]=data["Date_of_Journey"].str.split("/").str[1]

In [163]:
data["Year"]=data["Date_of_Journey"].str.split("/").str[2]

In [212]:
data.head()
data["Year"]=data["Year"].astype(int)

data["Month"]=data["Month"].astype(int)

data["Date"]=data["Date"].astype(int)

data

,Airline,Date_of_Journey,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,date,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,0.0,No info,3897,24,3,2019,24,1,10,22,20
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,1.0,No info,7662,1,5,2019,1,13,15,5,50
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,1.0,No info,13882,9,6,2019,9,4,25,9,25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1.0,No info,6218,12,5,2019,12,23,30,18,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1.0,No info,13302,1,3,2019,1,21,35,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,22:25,2h 30m,0.0,No info,4107,9,4,2019,9,22,25,19,55
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,23:20,2h 35m,0.0,No info,4145,27,4,2019,27,23,20,20,45
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,11:20,3h,0.0,No info,7229,27,4,2019,27,11,20,8,20
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,14:10,2h 40m,0.0,No info,12648,1,3,2019,1,14,10,11,30
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,19:15,8h 20m,1.0,No info,11753,9,5,2019,9,19,15,10,55

In [167]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  object
 12  Month            10683 non-null  int32
 13  Year             10683 non-null  int32
 14  date             10683 non-null  int32
dtypes: int32(3), int64(1), object(11)
memory usage: 1.1+ MB

In [169]:
data["Arrival_Hour"]=data["Arrival_Time"].str.split(':').str[0]
data["Arrival_Min"]=data["Arrival_Time"].str.split(':').str[1]

In [171]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,date,Arrival_Hour,Arrival_Min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,24,01,10 22 Mar
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,1,13,15
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019,9,04,25 10 Jun
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019,12,23,30
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,3,2019,1,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,4,2019,9,22,25
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,4,2019,27,23,20
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,27,4,2019,27,11,20
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,01,3,2019,1,14,10
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,5,2019,9,19,15

In [173]:
data["Arrival_Min"]=data["Arrival_Min"].apply(lambda x:x.split()[0])

In [175]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,date,Arrival_Hour,Arrival_Min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,24,01,10
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,1,13,15
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019,9,04,25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019,12,23,30
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,3,2019,1,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,4,2019,9,22,25
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,4,2019,27,23,20
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,27,4,2019,27,11,20
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,01,3,2019,1,14,10
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,5,2019,9,19,15

In [177]:
data["Arrival_Hour"]=data["Arrival_Hour"].astype(int)

data["Arrival_Min"]=data["Arrival_Min"].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  object
 12  Month            10683 non-null  int32
 13  Year             10683 non-null  int32
 14  date             10683 non-null  int32
 15  Arrival_Hour     10683 non-null  int32
 16  Arrival_Min      10683 non-null  int32
dtypes: int32(5), int64(1), object(11)
memory usage: 1.2+ MB

In [179]:
data["Dep_Hour"]=data["Dep_Time"].str.split(':').str[0]
data["Dep_Min"]=data["Dep_Time"].str.split(':').str[1]

In [228]:
data.drop(columns="Route",inplace=True)

In [218]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,date,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897,24,3,2019,24,1,10,22,20
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,1.0,No info,7662,1,5,2019,1,13,15,5,50
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,19h,1.0,No info,13882,9,6,2019,9,4,25,9,25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1.0,No info,6218,12,5,2019,12,23,30,18,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1.0,No info,13302,1,3,2019,1,21,35,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,2h 30m,0.0,No info,4107,9,4,2019,9,22,25,19,55
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,2h 35m,0.0,No info,4145,27,4,2019,27,23,20,20,45
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,3h,0.0,No info,7229,27,4,2019,27,11,20,8,20
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,2h 40m,0.0,No info,12648,1,3,2019,1,14,10,11,30
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,8h 20m,1.0,No info,11753,9,5,2019,9,19,15,10,55

In [185]:
data["Dep_Hour"]=data["Dep_Hour"].astype(int)

data["Dep_Min"]=data["Dep_Min"].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  object
 11  Month            10683 non-null  int32
 12  Year             10683 non-null  int32
 13  date             10683 non-null  int32
 14  Arrival_Hour     10683 non-null  int32
 15  Arrival_Min      10683 non-null  int32
 16  Dep_Hour         10683 non-null  int32
 17  Dep_Min          10683 non-null  int32
dtypes: int32(7), int64(1), object(10)
memory usage: 1.2+ MB

In [187]:
data["Total_Stops"]=data["Total_Stops"].map({'non-stop':0,'1 stop':1,'2 stop':2,'3 stop':3,'4 stop':4,np.nan:1})

In [200]:
data["Total_Stops"]=data["Total_Stops"].fillna(1)

In [242]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Total_Stops      10683 non-null  float64
 4   Additional_Info  10683 non-null  object
 5   Price            10683 non-null  int64
 6   Date             10683 non-null  int32
 7   Month            10683 non-null  int32
 8   Year             10683 non-null  int32
 9   date             10683 non-null  int32
 10  Arrival_Hour     10683 non-null  int32
 11  Arrival_Min      10683 non-null  int32
 12  Dep_Hour         10683 non-null  int32
 13  Dep_Min          10683 non-null  int32
dtypes: float64(1), int32(8), int64(1), object(4)
memory usage: 834.7+ KB

In [248]:
from sklearn.preprocessing import OneHotEncoder

In [256]:
encoder=OneHotEncoder()
df=pd.DataFrame(encoder.fit_transform(data[["Airline","Source","Destination","Additional_Info"]]).toarray(),columns=encoder.get_feature_names_out())

In [278]:
data=pd.concat([data,df])
data.drop(columns=["Airline","Source","Destination","Additional_Info"],inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42732 entries, 0 to 10682
Data columns (total 43 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Total_Stops                                   10683 non-null  float64
 1   Price                                         10683 non-null  float64
 2   Date                                          10683 non-null  float64
 3   Month                                         10683 non-null  float64
 4   Year                                          10683 non-null  float64
 5   date                                          10683 non-null  float64
 6   Arrival_Hour                                  10683 non-null  float64
 7   Arrival_Min                                   10683 non-null  float64
 8   Dep_Hour                                      10683 non-null  float64
 9   Dep_Min                                       10683 non-null  float64
 10  Airline_Air Asia                              32049 non-null  float64
 11  Airline_Air India                             32049 non-null  float64
 12  Airline_GoAir                                 32049 non-null  float64
 13  Airline_IndiGo                                32049 non-null  float64
 14  Airline_Jet Airways                           32049 non-null  float64
 15  Airline_Jet Airways Business                  32049 non-null  float64
 16  Airline_Multiple carriers                     32049 non-null  float64
 17  Airline_Multiple carriers Premium economy     32049 non-null  float64
 18  Airline_SpiceJet                              32049 non-null  float64
 19  Airline_Trujet                                32049 non-null  float64
 20  Airline_Vistara                               32049 non-null  float64
 21  Airline_Vistara Premium economy               32049 non-null  float64
 22  Source_Banglore                               32049 non-null  float64
 23  Source_Chennai                                32049 non-null  float64
 24  Source_Delhi                                  32049 non-null  float64
 25  Source_Kolkata                                32049 non-null  float64
 26  Source_Mumbai                                 32049 non-null  float64
 27  Destination_Banglore                          32049 non-null  float64
 28  Destination_Cochin                            32049 non-null  float64
 29  Destination_Delhi                             32049 non-null  float64
 30  Destination_Hyderabad                         32049 non-null  float64
 31  Destination_Kolkata                           32049 non-null  float64
 32  Destination_New Delhi                         32049 non-null  float64
 33  Additional_Info_1 Long layover                32049 non-null  float64
 34  Additional_Info_1 Short layover               32049 non-null  float64
 35  Additional_Info_2 Long layover                32049 non-null  float64
 36  Additional_Info_Business class                32049 non-null  float64
 37  Additional_Info_Change airports               32049 non-null  float64
 38  Additional_Info_In-flight meal not included   32049 non-null  float64
 39  Additional_Info_No Info                       32049 non-null  float64
 40  Additional_Info_No check-in baggage included  32049 non-null  float64
 41  Additional_Info_No info                       32049 non-null  float64
 42  Additional_Info_Red-eye flight                32049 non-null  float64
dtypes: float64(43)
memory usage: 14.3 MB